.neonWrapper {    
    padding: 28vh 0 1vh 0;
    font-size: 6vh;
    display: flex;
    align-items: baseline;
    justify-content: center;
    opacity: 1;
}

.hideBlock {
    opacity: 0;
    animation: showDiv 3s forwards;
}

@keyframes showDiv {
    0%,
    80% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 999px;
        opacity: 1;
    }
}