.wrapper {
    background: #0f0129;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/zzz4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.text {
    font-size: 2vw;
    position: absolute;
    padding: 0px 60px 0 0;
    top: 136px;
    right: 0;
    width: 360px;
}

@media (min-width: 320px) {
    .text {
        width: 310px;
    }
}

@media (min-width: 1450px) {
    .text {
        width: 460px;
    }
}
