* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background: #141414;
    width: 100vw;
    height: 100vh;
    background-image: url("../src/assets/images/wall7.jpg"); /*5,6,7,8*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.linkBtn {
    text-decoration: none;
}

.neonWrapper {    
    padding: 6vw;
    font-size: 6vh;
}

.myBtnWrapper {
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

@media (max-width: 390px) {
    .myBtnWrapper {
        flex-wrap: wrap;
        align-items: center;
    }
}